body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


/* Pop Up Section */

.pop-up-add-task {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    height: 200px;
    width: 500px;
    background-color: white;
    margin-left: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.close-icon {
    height: 20px;
    width: 20px;
    object-fit: cover;
    cursor: pointer;
}

.close {
    display: flex;
    justify-content: end;
}

.pop-up-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}


/* Add Task Container */

.main-coniatiner {
    display: flex;
    flex-direction: column;
    margin-left: 280px;
}

.header-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    font-family: 'PT Sans', sans-serif;
    width: 58%;
}

.header-task p {
    margin-top: 0px;
    color: rgba(28, 45, 146, 0.75);
}

.new-task-container {
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.5);
    height: 565px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-category-description {
    color: rgba(28, 45, 146, 0.75);
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    min-width: 250px;
    height: 420px;
}

.title-category-description h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.date-priority-created-btns {
    color: rgba(28, 45, 146, 0.75);
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    min-width: 250px;
    height: 420px;
}

.date-priority-created-btns h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.button-div a {
    text-decoration: none;
}

.addtask-btn {
    background-color: rgba(28, 45, 146, 0.75);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.addtask-btn:hover {
    background-color: rgba(0, 0, 139, 0.37);
    color: black;
}

.cancel-btn {
    color: rgba(0, 0, 139, 0.37);
}

.cancel-btn:hover {
    color: rgba(0, 0, 0, 0.75);
}

.regular-input {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
}

.regular-select {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
}

.description-input {
    height: 150px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 8px;
    font-family: 'PT Sans', sans-serif;
}


/* User Box */

.imgcyrcle {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    background-color: white;
    margin-right: 15px;
}

.select-box {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.select-box .options-container {
    width: 100%;
    background-color: rgba(28, 45, 146, 0.75);
    color: white;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background-color: rgba(28, 45, 146, 0.75);
    color: white;
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url('../img/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 24px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 150px;
    opacity: 1;
    overflow-y: scroll;
}

.option-user {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(28, 45, 146, 0.75);
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px 8px 8px 8px;
}

.select-box .option-user,
.selected {
    padding: 8px 12px;
    cursor: pointer;
}

.select-box .option-user:hover {
    background-color: rgba(148, 159, 231, 0.829);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}


/* Icon for assign User to Task */

.assign-to-plus {
    background-color: rgb(216, 216, 216);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.assign-to-plus:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.selectedPlus {
    background-color: black;
}

.fa-plus {
    font-size: 25px;
}

.fa-plus:before {
    content: "\f067";
}

.fa-plus.minus::before {
    content: '\f068';
}

.fas {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 1250px) {
    .main-coniatiner {
        margin-right: 0px !important;
    }
}

@media screen and (min-width: 1017px) {
    .new-task-container {
        margin-right: 110px !important;
    }
}

@media screen and (max-width: 1064px) {
    .main-coniatiner {
        margin-right: 0px !important;
    }
    .new-task-container {
        height: 980px !important;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 50px;
        margin-right: 150px !important;
    }
    .button-div {
        margin-top: 20px !important;
    }
}