*{
    box-sizing: border-box;
}
.main-coniatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    font-family: 'PT Sans', sans-serif;
    width: 58%;
}

.header-task p {
    margin-top: 0px;
    color: darkblue;
}

.new-task-container {
    margin-left: 50px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.5);
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    left: 250px;
    right: 0;
    align-items: center;
}

.title-category-description {
    color: darkblue;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    min-width: 250px;
}

.date-priority-created-btns {
    color: darkblue;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    min-width: 250px;
}

.button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.button-div a {
    text-decoration: none;
}

.addtask-btn {
    background-color: darkblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.addtask-btn:hover {
    background-color: rgba(0, 0, 139, 0.678);
}

.cancel-btn {
    color: darkblue;
}

.regular-input {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
}

.regular-select {
    height: 40px;
    width: 107%;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
}

.description-input {
    height: 150px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 8px;
    font-family: 'PT Sans', sans-serif;
}

.assignet-to-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.imgcyrcle {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: white;
}

.icon-plus {
    height: 40px;
    cursor: pointer;
    object-fit: contain;
}

.icon-plus:hover {
    height: 45px;
    object-fit: contain;
}