:root {
    --bg1: rgba(28, 45, 146, 0.75);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Regular.ttf) format("truetype"), url(../fonts/PTSans-Bold.ttf) format("truetype"), url(../fonts/PTSans-BoldItalic.ttf) format("truetype"), url(../fonts/PTSans-Italic.ttf) format("truetype");
    font-style: bold;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animateFadeIn {
    animation: 0.3s fadeIn ease-in-out;
}

.animateFadeOut {
    animation: 0.3s fadeOut ease-in-out;
}

body {
    font-family: "PT Sans", sans-serif !important;
    margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.end {
    justify-content: end;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.text-bg {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding-left: 8px;
}

.fontsize {
    font-size: 0.8rem;
}

.task-area {
    position: relative;
    min-width: 300px;
    height: 90vh;
    margin: 0 16px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    width: 290px;
    text-align: start;
    border: solid 1px;
    border-top: solid 5px;
    border-radius: 8px;
    padding: 4px;
    margin: 3px;
    background-color: white;
    display: flex;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.task:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.task-header {
    text-align: center;
    width: 300px;
    padding: 16px;
    background-color: var(--bg1);
    color: wheat;
    border-radius: 8px 8px 0 0;
}

.urgency-low {
    border-top: 5px solid green;
}

.urgency-middle {
    border-top: 5px solid orange;
}

.urgency-high {
    border-top: 5px solid red;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.task-trash {
    width: 32px;
    z-index: 90;
}

.trashIcon {
    height: 14px;
    width: 14px;
    cursor: pointer;
    z-index: 90;
}

.contentframe {
    position: absolute;
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.taskboard {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 250px;
    overflow: auto;
}

.form-section {
    z-index: 20;
}

.rightView {
    position: absolute;
    left: 250px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.descriptionViewFrame {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionView {
    border-radius: 8px;
}

.descriptionViewImageFrame {
    display: flex;
    margin: 3px 8px;
}

.descriptionViewImage {
    height: 70px;
    border-radius: 8px;
    object-fit: contain;
}

.d-none {
    display: none;
}

@media(max-width: 550px) {
    .taskboard {
        left: 105px;
    }
}