<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Navigationsbar</title>
    <script src="../js/navbar.js"></script>
    <link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
    <section class="flex-row">
        <div class="side-vertical-navbar flex-column">

            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>

            <div class="links flex-column">
                <a href="board.html">Board</a>
                <a href="#">Backlog</a>
                <a href="addTask.html">add Task</a>
                <!-- <a href="contact.html">Contact</a> -->
                <a href="help.html">Help</a>
            </div>

        </div>
    </section>
</body>

</html>